body {
    margin: 0;
    padding: 0;
    background: url(bck.png) no-repeat;
    background-size: cover;
    
}
.box{
    width: 600px;
    /*background: rgba(0, 0, 0, 0.4);*/
    padding: 100px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Centuty Gothic', sans-serif;
    border-radius: 20px;
    backdrop-filter: blur(7px);
    
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h3{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(avatar.png) 50 round;
  }